*
!/**/
!*.*
# The above three lines ignore all files without an extension.
# The first ignores all files.
# The next then unignores directories.
# The last unignores all files with an extension.
dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
.HTF/
*.exe
.DS_Store
